@font-face{
    font-family: "Comfortaa"; 
    src: url("/font/comfortaa/Comfortaa-Medium.ttf") format("truetype");
    font-weight: normal;
}

@font-face{
    font-family: "Comfortaa"; 
    src: url("/font/comfortaa/Comfortaa-Bold.ttf") format("truetype");
    font-weight: bold;
}

body {
    width: 411px;
    height: 731px;
    margin: 0;
    background: linear-gradient(180deg, #07204F 0%, rgba(255, 255, 255, 0.7) 100%), #07204F;
    font-family: 'Comfortaa', serif;

}
.notification_bar{
    position: sticky;
    top: 0;
}
.menu_bar{
    position: sticky;
    top: 24px;
    display: flex;
    height: 65px;
    align-items: center;
}
.m_bt{
    left: 20px;
    margin: 20px;
}
.u_name{
    position: absolute;
    left: 43.55%;
    right: 17.52%;
    top: 35.38%;
    bottom: 21.54%;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
} 
.pro_pic{
    position: absolute;
    left: 89.29%;
    right: 4.38%;
    top: 27.69%;
    bottom: 32.31%;
    
}
.mid_container{
    align-content: center;
    margin-left: 37px;
    margin-right: 37px;
}
.mid_container a{
    text-decoration: none;
}
.tab1{
    max-width: 337px;
    height: 101px;
    margin-bottom: 20px;
    background: #FFFFFF;
    box-shadow: 5px 7px 6px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    text-decoration: none;
}
.tab1 h1{
    position: relative;
    max-width: 147px;
    margin: 0 ;
    left: 5.04%;
    right: 51.34%;
    top: 35.48%;
    bottom: 20.79%;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    color: #000000;
}
.tab1 h2{
    position: relative;
    max-width: 144px;
    margin: 0 ;
    left: 5.04%;
    right: 52.23%;
    top: 22.77%;
    bottom: 55.45%;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    color: #07204F;
}
.tab1 h3{
    position: relative;
    max-width: 14px;
    left: 87.83%;
    right: 8.01%;
    bottom: 12px;
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    color: #000000;
}
.tab1 img{
    position: relative;
    width: 25px;
    height: 25px;
    left: 254px;
    bottom: 39px;
}

.tab2{
    max-width: 337px;
    height: 101px;
    margin-bottom: 20px;
    background: #FFFFFF;
    box-shadow: 5px 7px 6px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    text-decoration: none;
}
.tab2 h1{
    position: relative;
    max-width: 147px;
    margin: 0 ;
    left: 5.04%;
    right: 51.34%;
    top: 35.48%;
    bottom: 20.79%;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    color: #000000;
}
.tab2 h2{
    position: relative;
    max-width: 170px;
    margin: 0 ;
    left: 5.04%;
    right: 52.23%;
    top: 22.77%;
    bottom: 55.45%;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    color: #07204F;
}
.tab2 h3{
    position: relative;
    max-width: 14px;
    left: 87.83%;
    right: 8.01%;
    bottom: 12px;
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    color: #000000;
}
.tab2 img{
    position: relative;
    width: 25px;
    height: 25px;
    left: 254px;
    bottom: 39px;
}
.nav_cointainer{
    width: 411px;
    height: 71.5px;
    position: fixed;
    bottom: 0;
    left: 0; 
    box-sizing: border-box;
}
.nav_bar{
    position: fixed;
    bottom: -5px;
    left: 0;
    width: 100%;
    z-index: -2;
    
}
.home_btn{
    position: fixed;
    overflow: auto;

}
#circle{
    position: fixed;
    bottom: 33.5px;
    left: 171px;
    z-index: -1;
}
#home{
    position: fixed;
    bottom: 47.5px;
    left: 179px;
}
.icons {
    display: flex;
    list-style: none;
}

#trn{
    position: fixed;
    bottom: 5px;
    left: 25px;
}
#cb{
    position: fixed;
    bottom: 5px;
    left: 105px;
}

#sto{
    position: fixed;
    bottom: 5px;
    left: 255px;
}

#bk{
    position: fixed;
    bottom: 5px;
    left: 335px;
}